<ion-card class="card-background-page">
    <img src="https://previews.123rf.com/images/highwaystarz/highwaystarz1512/highwaystarz151202757/50164533-Driver-Delivering-Online-Grocery-Shopping-Order-Stock-Photo-delivery-food-grocery.jpg"/>
    <div class="card-title-container">
      <div class="card-title">{{authProvider.currentUser ? authProvider.currentUser.firstname : ''}} {{authProvider.currentUser ? authProvider.currentUser.lastname : ''}}</div>
      <div class="card-subtitle">{{authProvider.currentUser ? authProvider.currentUser.city : ''}}, {{authProvider.currentUser ? authProvider.currentUser.state : ''}}</div>
    </div>
</ion-card>
