<ion-card class="card-background-page">
    <div class="card-img-container">
      <img src="../../assets/images/driver.jpg"/>
    </div>
    <div class="card-title-container">
      <div class="card-title">{{authProvider.currentUser ? authProvider.currentUser.firstname : ''}} {{authProvider.currentUser ? authProvider.currentUser.lastname : ''}}</div>
      <div class="card-subtitle">{{authProvider.currentUser ? authProvider.currentUser.city : ''}}, {{authProvider.currentUser ? authProvider.currentUser.state : ''}}</div>
    </div>
</ion-card>
