page-dashboard {
  ion-content {
    ion-segment-button {
      color: #FFF !important;
      border-color: #FFF !important;
      .segment-button.segment-activated {
        border-color: #FFF !important;
        color: #FFF !important;
      }
    }

    .segment-button.segment-activated {
      background-color: #344E5D !important;
    }

    ion-item {
      background-color: #344E5D !important;
      color: #FFF !important;

      ion-badge {
        background-color: #4f7387 !important;
      }

      button {
        background-color: #4f7387 !important;
        color: #FFF !important;
      }

      .item-inner {
        border-bottom: 1px solid #1B3542 !important;
      }
    }

    ion-list-header {
      background-color: #344E5D !important;
      color: #FFF !important;
      margin-bottom: 0 !important;
      border-bottom: 1px solid #1B3542 !important;
      border-top: none !important;
    }
  }
}
