<!--<ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content padding>
  <user-hero></user-hero>
  <!-- <user-statistics></user-statistics> -->

  <div padding>
    <ion-segment [(ngModel)]="statSelection" (ngModelChange)="changeStatFrame()">
      <ion-segment-button value="Week">
        Week
      </ion-segment-button>
      <ion-segment-button value="Month">
        Month
      </ion-segment-button>
      <ion-segment-button value="Year">
        Year
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-list padding>
    <ion-item>
      <ion-icon name="cube" item-start></ion-icon>
      Pickups Completed
      <ion-badge item-end>{{userNumberOfPickups}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="speedometer" item-start></ion-icon>
      Total Distance
      <ion-badge item-end>{{userTotalDistanceOfPickups.toFixed(2)}} Miles</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="stopwatch" item-start></ion-icon>
      Total Pickup Time
      <ion-badge item-end>{{userTotalTimeOfPickups.toFixed(2)}} Hours</ion-badge>
    </ion-item>
    <ion-item text-center>
      <button ion-button full clear (click)="presentPickupList()">View</button>
    </ion-item>
  </ion-list>

  <div padding>
    <ion-segment [(ngModel)]="rankingSelection"  (ngModelChange)="changeRankedFrame()">
      <ion-segment-button value="Pickups">
        Pickups
      </ion-segment-button>
      <ion-segment-button value="Distance">
        Distance
      </ion-segment-button>
      <ion-segment-button value="Time">
        Time
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-list padding>
    <ion-list-header>
      Volunteer Leaderboard
    </ion-list-header>
    <div *ngIf="rankingSelection === 'Pickups'">
      <ion-item *ngFor="let rankedResult of rankedNumberUsers; let i = index">
        <ion-avatar item-start>
          <img src="{{rankedResult.user.image ? apiProvider.apiRoutes.userProfilePicture + rankedResult.user.image : 'https://goo.gl/o7tDYJ'}}">
        </ion-avatar>
        {{rankedResult.user.firstname ? rankedResult.user.firstname : ''}}
        {{rankedResult.user.lastname ? rankedResult.user.lastname : ''}}
        <h3 item-end>{{rankedResult.count}} Pickups</h3>
      </ion-item>
    </div>
    <div *ngIf="rankingSelection === 'Distance'">
      <ion-item *ngFor="let rankedResult of rankedDistanceUsers; let i = index">
        <ion-avatar item-start>
          <img src="{{rankedResult.user.image ? apiProvider.apiRoutes.userProfilePicture + rankedResult.user.image : 'https://goo.gl/o7tDYJ'}}">
        </ion-avatar>
        {{rankedResult.user.firstname ? rankedResult.user.firstname : ''}}
        {{rankedResult.user.lastname ? rankedResult.user.lastname : ''}}
        <h3 item-end>{{rankedResult.distance.toFixed(2)}} Miles</h3>
      </ion-item>
    </div>
    <div *ngIf="rankingSelection === 'Time'">
      <ion-item *ngFor="let rankedResult of rankedTimeUsers; let i = index">
        <ion-avatar item-start>
          <img src="{{rankedResult.user.image ? apiProvider.apiRoutes.userProfilePicture + rankedResult.user.image : 'https://goo.gl/o7tDYJ'}}">
        </ion-avatar>
        {{rankedResult.user.firstname ? rankedResult.user.firstname : ''}}
        {{rankedResult.user.lastname ? rankedResult.user.lastname : ''}}
        <h3 item-end>{{rankedResult.time.toFixed(2)}} Hours</h3>
      </ion-item>
    </div>
  </ion-list>
</ion-content>


