 <ion-card>
  <img src="../../assets/images/driving1.jpg"/>
  <div class="card-title">{{userNumberOfPickups | number:'1.0-0'}}</div>
  <div class="card-subtitle">Pickups Completed</div>
</ion-card>

<ion-card>
  <img src="../../assets/images/driving2.jpg"/>
  <div class="card-title">{{userTotalDistanceOfPickups | number:'1.2-2'}}</div>
  <div class="card-subtitle">Miles Driven</div>
</ion-card>

<ion-card>
  <img src="../../assets/images/driving3.jpg"/>
  <div class="card-title">{{userTotalTimeOfPickups | number:'1.2-2'}}</div>
  <div class="card-subtitle">Hours On Pickups</div>
</ion-card> 