<!-- <ion-card>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-4>
        <h1>{{userNumberOfPickups | number:'1.0-0'}}</h1>
        <span>Pickups</span>
        <span>Completed</span>
      </ion-col>
      <ion-col col-4>
        <h1>{{userTotalDistanceOfPickups | number:'1.2-2'}}</h1>
        <span>Miles</span>
        <span>Driven</span>
      </ion-col>
      <ion-col col-4>
        <h1>{{userTotalTimeOfPickups | number:'1.2-2'}}</h1>
        <span>Hours</span>
        <span>On Pickups</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card> -->

<ion-card>
  <img src="../../assets/images/driving1.jpg"/>
  <div class="card-title">{{userNumberOfPickups | number:'1.0-0'}}</div>
  <div class="card-subtitle">Pickups Completed</div>
</ion-card>

<ion-card>
  <img src="../../assets/images/driving2.jpg"/>
  <div class="card-title">{{userTotalDistanceOfPickups | number:'1.2-2'}}</div>
  <div class="card-subtitle">Miles Driven</div>
</ion-card>

<ion-card>
  <img src="../../assets/images/driving3.jpg"/>
  <div class="card-title">{{userTotalTimeOfPickups | number:'1.2-2'}}</div>
  <div class="card-subtitle">Hours On Pickups</div>
</ion-card>
