user-statistics {

  ion-card {
    padding: 15px;
    background-color: #344E5D !important;

    ion-grid {
      text-align: center;

      ion-col {
        h1 {
          color: #FFF !important;
          margin: 0 0 10px !important;
        }
        span {
          color: #FFF !important;
          display: block;
        }
      }
    }
  }
}
