page-service {

  ion-item {
    background-color: #344E5D !important;
    color: #FFF !important;

    .item-inner {
      border: 0 !important;
    }
  }

  button.button-full {
      background-color: #FFF !important;
      color: #344E5D !important;
    }

    button.button-small {
      color: #FFF !important;
    }

  #map {
    opacity: 0.5;
    height:94%
  }

  .online {
    opacity: 1 !important;
  }

  #offline-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.5rem;
  }

  .progress-counter {
    position: fixed;
    height: 100%;
    width: 100vw;
    left: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    // background-color: #6AB9BD;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: none;

    &-show {
      opacity: 0.5;
      display: block;
    }
  }
}
